body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
}



.pointer {
  cursor: pointer;
}



.fancybox__top {
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fancybox__container.is-animated[aria-hidden="false"] .fancybox__top {
  transition: opacity var(--fancybox-ts, 0.25s) ease;
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden="true"] .fancybox__top {
  transition: opacity 0.2s ease;
  opacity: 0;
}